<html>
    <head>
        {% if title %}
        <title>{{ title }} - Example</title>
        {% else %}
        <title>Welcome to Example!</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="sidenav_id" class="sidenav">
            <ul>
                <li><a href="{{ url_for('profile') }}">My Profile</a></li>
                <li><a href="{{ url_for('my_tournaments') }}">My Tournaments</a></li>
                <li><a href="{{ url_for('tournaments') }}">Browse</a></li>
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {%  block content %}{% endblock %}
    </body>
</html>